<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paintings</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1 class="auth-administrative">Gallery</h1>
    <div class='gallery'>
        {% for painting in object_list %}
            <div class='card'>
                <div class='card-content'>
                    {% for url in painting.urls %}
                        <img 
                        class='card-content'
                        src="{{url}}" 
                        alt="painting" />
                    {% endfor %}
                    <div>
                    </div>
                </div>
                <br />
                <a 
                 style="font-size:20px;" 
                href="{% url 'detail' painting.id %}">
                    "{{painting.name}}"
                </a>
                <br>
                <i>
                    commissioned by 
                    <a href="{% url 'user_detail' painting.user.id %}">
                        {{painting.user.first_name}} {{painting.user.last_name}}
                    </a>
                </i>
            <br/><br/>
            </div>
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>