<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paintings</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <div class='gallery'>
        {% for painting in object_list %}
            <div class='card'>
                <a 
                class='card-content' 
                style="font-size:20px;"
                href="{% url 'detail' painting.id %}">
                    {% for url in painting.urls %}
                    <img 
                    class='card-content' 
                    src="{{url}}" 
                    alt="painting" />
                    {% endfor %}
                    <br />
                    {{painting.name}}
                </a>
                <br /><br />
            </div>
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>