{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-content">
        <span class="card-title">
            <h1>{{ painting.name }}</h1>
        </span>
        {% for url in painting.urls %}
        <img src="{{url}}" alt="painting">
        {% endfor %}
    </div>
    <div class="card-action">
        <a href="{% url 'paintings_update' painting.id %}">update this</a>
        <a href="{% url 'paintings_delete' painting.id %}">delete this</a>
    </div>
</div>
{% endblock %}