{% extends 'base.html' %}

{% block content %}
<div>
    <div>
        <h1>{{ painting.name }}</h1>
        <p><i>commissioned by {{ painting.user }}</i></p>
        {% for url in painting.urls %}
        <img src="{{url}}" alt="painting">
        {% endfor %}
    </div>
    <div>
        {% if painting.user == user %}
        <a href="{% url 'paintings_update' painting.id %}">update this</a>
        <a href="{% url 'paintings_delete' painting.id %}">delete this</a>
        {% endif %}
    </div>
</div>
{% endblock %}