{% extends 'base.html'%}
{% block content %}
    <div>
        <h3 class="auth-administrative">Please, submit your email address below to commence your password reset.</h3>
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="id_email">Email address:</label>
                <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email">
            </div>
            <input type="submit" value="submit">
        </form>
    </div>
{% endblock %}