{% extends 'base.html' %}
{% block content %}
<h1 class="auth-administrative">Sign Up</h1>
<h4 class="auth-administrative">Feel free to use a fake email address.</h4><h4 class="auth-administrative">We understand your distrust of novice devs, but just know you'll have to create a new account if you forget your password.</h4>
{% if error_message %}
<p class="red-text">{{ error_message }}</p>
{% endif %}
<form action="{% url 'signup' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Sign Up" class="btn">
</form>
{% endblock %}