* {
    font-family: 'Sorts Mill Goudy', serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    color: rgb(192 192 192);
    background-color: rgb(10 10 10);
}
.navbar-fixed {
    border: 1px outset rgb(192 192 192);
    border-radius: 7px;
    margin: 2vh;
    display: grid;
    grid-template-columns: 85% 15%;
}
.nav-logo {
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav-menu {
    grid-column-start: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.left {
    text-align: left
}
.right {
    text-align: right
}
a {
    text-decoration: none;
}
a.nav-logo, a.nav-menu {
    padding: 1vh 1vw;
    margin: 1vh 1vw;
}
a:link, a:visited {
    color: rgb(192 192 192);
}

main {
    flex: 1 0 auto;
}
label {
    display: block;
}
form {
    color: rgb(110 110 110)
}
.helptext {
    display: block;
}
table {
    margin: 10px;
    align-content: center;
    justify-content: center;
}
th {
    text-align: left;
}
tr {
    text-align: left;
}
td {
    padding: 2px;
}
li {
    text-align: center;
    list-style-type: none;
}
footer {
    padding-top: 0;
    text-align: right;
}
/* this code makes the big, fat, wide, round input field */
input {
    background-color: rgb(210 210 210);
    font-size: 20pt;
    font-style: normal;
    width: 50%;

    padding: 5px 5px;
    border: 1rem rgb(192 192 192);
    border-radius: 10px;
}  
button:hover, input:hover, a:hover{
    border: 1px outset rgb(192 192 192);
    border-radius: 7px;
    box-shadow: 0 5px 5px 0 rgba(192,192,192,0.24), 0 12px 20px 0 rgba(100,100,100,0.19);
}
/* these are meant to target the detail view */
img {
    max-width: 100%
}
/* these are meant to target the list view */
.gallery {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
div.card{
    width: 100%;
    padding: -5px;
}
img.card-content {
    max-width: 80%;
}
a.card-content {
    border: none;
    box-shadow: none;
    font-size: 50px;
}
#active {
    opacity: .30;
}
/* avatar dropdown in navbar */
#profile {
    width: 50px;
}
.dropdown {
    font-family: inherit;
    margin: inherit;
    background-color: inherit;
}
.dropdown-content {
    display: none; 
    position: absolute;
    z-index: 1;
}
.dropdown-content a {
    display: flex;
    flex-direction: row;
    font-family: inherit;
    padding: inherit;
    margin: inherit;
    background-color: inherit;
}
.dropdown:hover .dropdown-content {
    display: block;
}
